
/*Can nest a rule in sass, koala will create the code*/
.site-header nav {

	text-align: center;
	
	ul {
		text-align: left;
		width: 34%;
		padding: 20px;
		float: left;
		@extend .group;

	}

	li {
		list-style: none;
		float: left;

		margin-right: 15%;
		box-sizing: border-box;
		@include boxFomatting;

		/* V powerful, now all our stylings are referred to in a mixin*/
		@include bp-babyBear{
			float: left;
			margin-right:none ;
			margin-bottom: 2px;;
		}
		@include bp-papaBear{

			margin-right: 5% ;
		}
	}

	a:hover{
		background-color: #333333;
		color: $keyColour1;


	}

	a {
		display: block;
		padding: 10px;
		background-color: lighten($background, 15%);
		color: $text;
		text-decoration: none;
	}

	.read-more{
		text-decoration: underline;
		color: blue;
	}
	.toggle-btn{
		display: none;
	}
	.toggle-target-hidden{
		display: none;
	  }
	.toggle-target-expanded{
		display: block;
		}
	

		  



}