
/*Can nest a rule in sass, koala will create the code*/
.site-header nav {
	
	ul {
		padding: 0;
		margin: 0;
		float: none;
		@extend .group;
	}

	li {
		list-style: none;
		float: left;
		margin-right: 10px;

		/* V powerful, now all our stylings are referred to in a mixin*/
		@include bp-babyBear{
			float: none;
			margin-right: 0;
			margin-bottom: 2px;;
		}
		@include bp-papaBear{
			margin-right: 50px;
		}
	}

	a {
		display: block;
		padding: 10px;
		background-color: lighten($keyColour3, 25%);
		color: $text;;
		text-decoration: none;
	}

}