/*Color Scheme: */

$keyColour1:#ffffff;
$keyColour2:#777777;
$keyColour3:#ffffff;
$keyColour4:#fdfdfd;
$keyColour5:#ffffff;

$smallScreenSize: 540px;
$bigScreenSize: 1100px;




$background: $keyColour1;
$text: $keyColour2;


@import 'mixins';



html{
    color: $text;
    background-color: #e2e2e2;
    

    @include bp-babyBear{
        font-size: .8em;
    }
    @include bp-papaBear{
        font-size: 1.4em;
    }

}

.site-header h1{
    font-size: 230%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: $keyColour1;
    text-align: center;
}

.container{
    max-width: 100%;
    
  
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    @include bp-babyBear{
    
      padding-left: 0px;
      padding-right: 0px;
    }
}


  .main-area {
      width: 70%;
      float: right;

      background-color: lighten($background, 15%);
      
      padding-bottom: 40px;
      padding-left: 10px;
      
      padding-right: 10px;
      
      @include boxFomatting;
  
      box-sizing: border-box;        
    
    @include bp-babyBear{
      width: 100%;
      padding-left: 5%;
    }
  }

  /* Site nav and menu bar */
  .menu{
      float: left;
      width: 30%;
      margin: 0 0px;
      padding-right: 20px;
      box-sizing: border-box;
      @extend .group;
      @include bp-babyBear{
        min-width: 100%;
        
      }
  
      
    ul{
      margin: 0 ;
      padding: 0;
      box-sizing: border-box;
      @include bp-papaBear{
        padding-right: 10px;
      }
      @include bp-babyBear{
        display: block;
        margin: 0;
        padding-right: 0;
        text-align: center;
        min-width: 100%;
        color: blue;
      }
    }
  
    li{
      list-style: none;
      float: left;
      width: 100%;
      @include bp-babyBear{
        text-align: center;
        float: center;
        width: 20%;
        padding-right: 8px;
        box-sizing: border-box;

      }
      @include bp-papaBear{
        
        margin-right: 0;
      }
     
      
    }
    a{
      display: block;
      color: #fff;
      text-align: center;
      
      padding: 10px 20px;
      background-color: #365267;
      transition-property: color, background-color;
      transition-duration: .7s;
      box-sizing: border-box;
      @include boxFomatting;
      @include bp-babyBear{
        padding: 10px 5%;
      }

  
    }
    a:hover{
      background-color: #fff;
      color: #365267;
    }
  }



    /*Show/ hide button*/

    .read-more{
      text-decoration: underline;
      color: blue;
    
    }
    
    .read-more:hover{
      text-decoration: none;
    }
    .toggle-btn{
      display: block ;
    }
    .full-text {
      display: block;
    }
      
    .toggle-btn-visible{
      display: block;
    }
    
    .toggle-target-hidden{
      display: none;
      .main-area{
        width: 100%;
        float: center;
      }
    }
    
    .toggle-target-expanded{
      display: block;
      .main-area{
        width: 70%;
        float: right;
      }
    }
      
    

  

/*Clear fix*/ 
  .group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}