/*Color Scheme: */

$keyColour1:#f3f2f2;
$keyColour2:#777777;
$keyColour3:#928484;
$keyColour4:#BF9484;
$keyColour5:#D9BEB4;

$background: $keyColour1;
$text: $keyColour2;


@import 'mixins';
@import 'header';


html{
    color: $text;
    background-color: #d4c7bb;
    @include bp-babyBear{
        font-size: .8em;
    }
    @include bp-papaBear{
        font-size: 1.4em;
    }

}

.site-header h1{
    font-size: 230%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: $keyColour1;
    text-align: center;
}

.container{
    max-width: 75%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @include bp-babyBear{
      max-width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
}
.content-area {
    width: 66%;
    float: right;
    display: flex;
    justify-content: right;
    background-color: lighten($background, 15%);
    float: center;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
    @include boxFomatting;

    box-sizing: border-box;        
  }

  .main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
    @include bp-babyBear{
      width: 100%;
      padding-left: 5px;
    }
  }
  .sidebar{
      width: 34%;
      float: right;
      box-sizing: border-box;
      @include bp-babyBear{
        width: 100%;
        float: left;
      }
      
  }


/*Clear fix*/ 
  .group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}