/*Color Scheme: */

$keyColour1:#ffffff;
$keyColour2:#777777;
$keyColour3:#ffffff;
$keyColour4:#fdfdfd;
$keyColour5:#ffffff;

$background: $keyColour1;
$text: $keyColour2;


@import 'mixins';



html{
    color: $text;
    background-color: #e2e2e2;

    @include bp-babyBear{
        font-size: .8em;
    }
    @include bp-papaBear{
        font-size: 1.4em;
    }

}

.site-header h1{
    font-size: 230%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: $keyColour1;
    text-align: center;
}

.container{
    max-width: 100%;
    
  
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    @include bp-babyBear{
    
      padding-left: 0px;
      padding-right: 0px;
    }
}


  .main-area {
      width: 70%;
      float: right;

      background-color: lighten($background, 15%);
      
      padding-bottom: 40px;
      padding-left: 10px;
      
      padding-right: 10px;
      
      @include boxFomatting;
  
      box-sizing: border-box;        
    
    @include bp-babyBear{
      width: 100%;
      padding-left: 5px;
    }
  }
  .menu{
      float: left;
      width: 30%;
      margin: 0 0px;
      padding-right: 20px;
      box-sizing: border-box;
      @extend .group;
  
      
    ul{
      margin: 0 0;
    }
  
    li{
      list-style: none;
      float: left;
      width: 100%;
     
      
    }
    a{
      display: block;
      color: #fff;
      text-align: center;
      
      padding: 10px 20px;
      background-color: #365267;
      transition-property: color, background-color;
      transition-duration: .7s;
      @include boxFomatting;
  
    }
    a:hover{
      background-color: #fff;
      color: #365267;
    }
    .read-more{
      text-decoration: underline;
      color: blue;
    
    }
    
    .read-more:hover{
      text-decoration: none;
    }
    .toggle-btn{
      display: none ;
    }
    .full-text .toggle-btn-visible{
      display: block;
      @include bp-babyBear{
        .toggle-btn-visible{
          display: block;
        }
        
        .toggle-target-hidden{
          display: block;
        }
        
        .toggle-target-expanded{
          display: none;
        }
      }
    }
    
    .full-text .toggle-target-hidden{
      display: none;
    }
    
    .full-text toggle-target-expanded{
      display: block;
    }
  }

/*Clear fix*/ 
  .group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}