/*Mixins:

not dissimilar to functions in a programming language

N.B declaration must come before use!

we can use the code for all of the different browsers, in the mixin
this means we can just use a file full of mixins!!!! WE never need to use this again!

*/


@mixin verticalGradient($fromColor,$toColor) {
    background-color: $toColor; /* Fallback Color */
  	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  	background-image:         linear-gradient(to bottom, $fromColor, $toColor);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
    


}

@mixin boxFomatting {


    border-bottom: 3px solid $keyColour2;
    border-right: 3px solid $keyColour2;
    @include bp-babyBear{
        box-shadow: none ;
    }
}



/*Media queries and mixins: 

We can make media queries much easier to work with using mixins


We dont need to re write all of the CSS, can name keywords that can be reused as
media queries
*/

@mixin bp-babyBear {
    @media only screen and (max-width: $smallScreenSize){
        @content;
    }
        
    }

@mixin bp-papaBear {
        @media only screen and (min-width: $bigScreenSize){
            @content;
        }
            
        }