/*Color Scheme: */

$keyColour1:#ffffff;
$keyColour2:#777777;
$keyColour3:#ffffff;
$keyColour4:#fdfdfd;
$keyColour5:#ffffff;

$smallScreenSize: 540px;
$bigScreenSize: 1100px;


$zIndex: 5;

$background: $keyColour1;
$text: $keyColour2;


@import 'mixins';



html{
    color: $text;
    // background-color: lighten($keyColour2,35%);
    max-width: 1460px;
    max-height: 705px;;
    height: 100%;

    @include bp-babyBear{
        font-size: .8em;
    }
    @include bp-papaBear{
        max-height: 100%;
        font-size: 1.4em;
    }

  

}
  .bgDecorations{
    width: 100%;
    height:100%;

    position: absolute;
    

  

  .btmLayer{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    @include verticalGradient(#494949,#aca3a3);
    
  }
  .midLayer{
    position: absolute;
    left:-600px; 
    top: -300px;
    width: 100%;
    
    height: 100px;
    animation: scaleWiggle 15s ease-in-out infinite;

    @keyframes scaleWiggle {
      0%{
        transform: scale(1);;
      }
      50%{
        transform: scale(.95) rotate(2deg);
      }
      100%{
        transform: scale(1);
      }

    }
   
    img{
      
      transform: scale(0.5);
     
      z-index: 2;
    }

   
  }
  .topLayer{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    

  }
}

  .siteContainer{
    position: relative;

    z-index: 501;
  }

  
.site-header h1{
    padding-left: 5px;
    width: 35%;
    min-width: 167px;
    z-index: $zIndex;
    font-size: 230%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgba(255, 255, 255,.8);
    text-align: left;
    background-color: rgba(37, 37, 37,0.9);
    .nextChar{
      display: inline;
      size: 100%;
      background-color:  rgba(37, 37, 37,.8);
      animation: toWhite 2s ease  infinite;
      @keyframes toWhite{
        0%{
          background-color:  #252525;
          color: white;
        }
        50%{
          background-color: white;
          color:  #252525;
        }
        85%{
          background-color:  #252525;
          color: white;
        }
        
      }
    }
}

.container{
    position: absolute;
    max-width: 100%;
    width: 100%;
    z-index: $zIndex;
  
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    @include bp-babyBear{
    
      padding-left: 0px;
      padding-right: 0px;
    }
}


  .main-area {
      z-index: $zIndex;
      width: 70%;
      float: right;

      background-color: lighten($background, 15%);
      opacity: .8;
      
      
      padding-left: 10px;
      padding-bottom: 25%;
      padding-right: 10px;
      
      box-sizing: border-box;   

      @include boxFomatting;
  
           
    
      @include bp-babyBear{
      margin-top: 40px;
      width: 100%;
      padding-left: 5%;
    }
  }

  .splitleft{
    width: 30%;
    display: block;
    block-size: inherit;
    float: left;
    font-size: 350%;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
    border-right: solid #365267 ;
    
    @include bp-babyBear{
      display:none;
    }
  }
  .splitright{
    width: 70%;
    float: right;
    box-sizing: border-box;
    @include bp-babyBear{
      width: 100%;
      margin-right: 10px;
    }
  }



  /* Site nav and menu bar */
  .menu{
      position: absolute;
      z-index: $zIndex;
      float: left;
      width: 30%;
      margin: 0 0px;
      padding-right: 20px;
      box-sizing: border-box;
      @extend .group;
      @include bp-babyBear{
        min-width: 100%;
        
      }
  
      
    ul{
      margin: 0 ;
      padding: 0;
     
      box-sizing: border-box;
      @include bp-papaBear{
        padding-right: 10px;
      }
      @include bp-babyBear{
        display: block;
        margin: 0;
        padding-right: 0;
        text-align: center;
        min-width: 100%;
        color: blue;
      }
    }
  
    li{
      list-style: none;
      float: left;
      width: 100%;
      @include bp-babyBear{
        text-align: center;
        float: center;
        width: 20%;
        padding-right: 8px;
        box-sizing: border-box;

      }
      @include bp-papaBear{
        
        margin-right: 0;
      }
     
      
    }
    a{
      display: block;
      color: #fff;
      text-align: center;
      text-decoration: none;
      
      padding: 10px 20px;
      background-color: #365267;
      transition-property: color, background-color;
      transition-duration: .7s;
      box-sizing: border-box;
      opacity: .9;

      @include bp-babyBear{
        padding: 10px 5%;
      }

  
    }
    a:hover{
      background-color: #fff;
      color: #365267;
      opacity: .7;
    }
  }



    /*Show/ hide button*/

    .read-more{
      display: none;
      text-decoration: underline;
      color: blue;
    
    }
    
    .read-more:hover{
      text-decoration: none;
    }
    .toggle-btn{
      display: none ;
      background-color: #365267;
      opacity: 0.9;
      width: 30%;


    }
    .toggle-btn:hover{
        background-color: #fff ;
        opacity: 0.8;
      
    }
    .full-text {
      display: block;
    }
      
    .toggle-btn-visible{
      display: block;

    }
    
    .toggle-target-hidden{
      display: none;
      

    }
    
    .toggle-target-expanded{
      display: block;
      }
    
/*Clear fix*/ 
  .group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}